@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right,rgb(3, 111, 3), rgb(18, 5, 5));
    padding: 10px;
}
.todo-con{
    width:100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius :10px 30px 10px 30px;
}
.todo-con h2{
    color: rgb(3, 111, 3);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 239, 239);
    border-radius: 36px;
    padding-left: 20px;
    margin-bottom: 28px;
}
input{
    /* flex 1 will have the full width */
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
  font-weight: 12rem;
}
button{
    border: none;
    outline: none;
    padding: 20px 32px;
    color: #fff;
    background-color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 34px 32px 36px 34px ;
}
ul li{
    list-style: none;
    font-size: 1.1rem;
    padding: 13px 9px 12px 52px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}
ul li::before{
    content:'';
    position: absolute;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: rgb(4, 128, 4);
}
ul li.checked::before{
    background-image: url(png-transparent-check-logo-check-mark-computer-icons-correct-miscellaneous-angle-text-thumbnail.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 22px ;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: black;
}
